<!-- One -->
<section id="one" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>Liebe Postfelder Wählerinnen und Wähler, <br /> Ihre Stimme entscheidet!</h2>
			<p>Es liegt an Ihnen, wie die Gemeindevertretung zukünftig zusammengesetzt sein wird. Sie bestimmen, wer die Kommunalpolitik und das kulturelle Leben in der kommenden Wahlperiode gestaltet!</p>
			<p>Durch die Gründung von zwei Wählergemeinschaften entstanden neben den Aktivitäten der Vereine, Verbände und der Feuerwehr neue Veranstaltungen, die zum Teil gemeinsam durchgeführt wurden und somit die Dorfgemeinschaft wieder gestärkt haben</p>
			<p>Zwei Wählergemeinschaften, damit Sie als Bürger wieder eine Wahl haben.</p>
		</header>
		<ul class="icons major">
			<li><span class="icon fa-heartbeat major style1"><span class="label">Mit Herz</span></span>
			</li>
			<li><span class="icon fa-rebel major style2"><span class="label">Alternativ</span></span>
			</li>
			<li><span class="icon fa-streetview major style3"><span class="label">Für Mensch und Umwelt</span></span>
			</li>
		</ul>
	</div>
</section>
